@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap');

* {
  margin: auto;
  font-family: 'Signika Negative', sans-serif;
}

body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.lifestyleasia.com%2Fwp-content%2Fuploads%2Fsites%2F6%2F2020%2F02%2F11104549%2FGroceries.jpg&f=1&nofb=1&ipt=7dedfb4f4ad72d7eb4260a046111609ce814c581a91c1a33d52cc05c4ca565f1&ipo=images");
  background-repeat: repeat-x repeat-y;
  background-position-x: center;
  background-position-y: center;
  animation: slide 10s infinite ease-in-out;
}

@keyframes slide {
  0% {
    background-size: 1px 1px;
  }
  50% {
    background-size: 10000px 10000px;
  }
  100% {
    background-size: 1px 1px;
  }
}

#content {
  position: relative;
  margin: auto;
  background: #ffffffdd;
  width: clamp(400px, 50%, 800px);
  margin-top: 10vh;
  height: 80vh;
  text-align: center;
  overflow-y: scroll;
}
#content h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}
#content .big {
  width: 100%;
  height: 20%;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  text-align: center;
  user-select: none;
}
#content button.big:hover {
  background: #ffffff55;
  font-weight: bolder;
}